Checks: |
    bugprone-*,
    -bugprone-branch-clone,
    -bugprone-easily-swappable-parameters,
    -bugprone-reserved-identifier,
    -bugprone-stringview-nullptr,
    cppcoreguidelines-*,
    -cppcoreguidelines-avoid-magic-numbers,
    -cppcoreguidelines-init-variables,
    -cppcoreguidelines-owning-memory,
    -cppcoreguidelines-pro-bounds-constant-array-index,
    -cppcoreguidelines-pro-bounds-pointer-arithmetic,
    -cppcoreguidelines-pro-type-const-cast,
    -cppcoreguidelines-pro-type-member-init,
    -cppcoreguidelines-pro-type-reinterpret-cast,
    -cppcoreguidelines-pro-type-static-cast-downcast,
    -cppcoreguidelines-pro-type-union-access,
    -cppcoreguidelines-pro-type-vararg,
    misc-*,
    -misc-unused-parameters,
    -misc-unused-using-decls,
    performance-*,
