*.a
*.o
*.d
*.pcap
.vscode/*.log
wireglider
tests/test-checksum
tests/test-offload
tests/test-endian
tests/test-flowkey
tests/test-ancillary
tests/test-flowkey-own
tests/test-flowkey-ref
tests/test-sizes
tests/test-replay
nettool
